* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.navbar-wrap {
    background: #fff;
    box-shadow: 10px 4px 16px rgba(145, 145, 145, 0.187);
    padding: 20px;
    /*position: fixed;*/
    width: 100%;
}
.logo img {
    width: 18vw;
}
.navbar {
display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-icon {
    font-size: 18px;
    color: #000;
}
.sub-icon:hover {
    color: rgb(0, 112, 0);
}
.badge:after {
    content: attr(data-count);
    position: absolute;
    background: #ff6600;
    height: 18px;
    width: 18px;
    top: 30px;
    right: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}
.input-icons i {
    position: absolute;
}
.input-icons {
    width: 24%;
    height: 6vh;
    display: flex;
    align-items: center;
}
.icon {
    padding: 10px;
    color: rgba(0, 0, 0, 0.503);
    min-width: 50px;
    text-align: left;
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(204, 204, 204, 0.24);
}
.input-field::placeholder {
    font-style: italic;
}
.active,
.input-field:hover {
    box-shadow: 8px 2px 10px rgba(145, 145, 145, 0.187);
}
.sub-head {
    padding: 8px;
    font-size: 20px;
    font-family: sans-serif;
    color: #000;
    display: flex;
    align-items: center;
}
.sub-head:hover {
    background-color: #f9f9f9;
    border-radius: 32px;
    transition: 0.3s ease;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    user-select: none;
    z-index: 1;  
}
.services {
    position: relative;
}
.dropdown {
    background-color: #fdfdfd;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    top: 36px;
    z-index: 9999;
    width: 500px;
    box-shadow: 8px 10px 10px rgba(108, 108, 108, 0.187);
}
.second-dropdown {
    width: 350px;
}
.dropdown .list2 {
    grid-template-columns: repeat(2, 1fr);
}
.dropdown-col-name {
    font-size: 17px;
    font-weight: bold;
    color: rgb(159, 213, 159);
    padding: 14px 14px;
}
.dropdown ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dropdown ul li {
    padding: 12px;
}
.dropdown li a {
    font-size: 16px;
    color: rgb(111, 111, 111);
}
.dropdown li a:hover {
    text-decoration: underline;
}
.services:hover .dropdown {
    display: block;
}
input[type=checkbox] {
    display: none;
}
.hamburger {
    display: none;
    font-size: 30px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 6px;
    padding: 0 6px;
    color: rgb(46, 46, 46);
}
.contact-btn {
    display: none;
}
@media (max-width: 620px) {
    .sub-icon {
        display: none;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .navbar-wrap {
        padding: 4px;
    }
    .nav-links .menu {
        display: none;
        position: absolute;
        background-color: rgb(222, 222, 222);
        right: 0;
        left: 0;
        text-align: left;
        /* padding:  0; */
        z-index: 1000;
    }
    .nav-links .menu-icon {
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding: 40px 20px;
    }
    .nav-links .menu-icon .nav-icon {
        background: #007562;
        display: block;
        height: 2px;
        position: relative;
        transition: .2s ease-out;
        width: 1.5rem;
    }
    .nav-links .menu-icon .nav-icon:before,
    .nav-links .menu-icon .nav-icon:after {
        background: #007562;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 1.5rem;
    }
    .nav-links .menu-icon .nav-icon:before {
        top: 5px;
    }
    .nav-links .menu-icon .nav-icon:after {
        top: -5px;
    }
    .nav-links .menu-btn {
        display: none;
    }
    .nav-links .menu-btn:checked~.menu {
        height: 700px;
        overflow: hidden;
        /*position: fixed;*/
    }
    .nav-links .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }
    .nav-links .menu-btn:checked~.menu-icon .nav-icon:before {
        transform: rotate(-45deg);
    }
    .nav-links .menu-btn:checked~.menu-icon .nav-icon:after {
        transform: rotate(45deg);
    }
    .nav-links .menu-btn:checked~.menu-icon:not(.steps) .nav-icon:before,
    .nav-links .menu-btn:checked~.menu-icon:not(.steps) .nav-icon:after {
        top: 0;
    }
    .services {
        box-sizing: border-box;
        margin: 35px 35px 0;
    }
    .sub-head {
        font-weight:  400;
        font-size: 17px;
        display: inline-block;
    }
    .sub-head:hover {
        background: none;
    }
    .input-field {
        border-radius: 3px;
        width: 150px;
        padding: 6px;
    }
    .input-field::placeholder {
        font-size: 10px;
    }
    .logo img {
        width: 24vw;
    }
    .dropdown {
        padding: 20px 0;
        width: 350px;
        position: relative;
        top: 0;
        transition: .4s ease-in-out;
    }
    .dropdown-col-name {
        font-size: 15px;
        display: inline-block;
        padding: 8px 10px;
    }
    .contact-btn {
        display: block;
        text-align: center;
    }
    .btnn-text {
        background-color: #007562;
        padding: 12px 20px;
        margin-top: 40px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }
}
.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: url(../img/brown-sofa.png) no-repeat center center fixed;
    background-size: cover;
}
/*
.bg-overlay {
    background-color: rgb(0, 0, 0, 0);
    background-color: rgba(32, 32, 32, 0.4);
}
*/
.intro-message {
    position: relative;
    padding: 10% 0;
}
/*Big header*/
.intro-message h1 {
    font-size: 3.5em;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #181818;
}
/*small header*/
.intro-message h4 {
    font-size: 20px;
    font-weight: 300;
    font-family: serif;
    color: rgb(0, 0, 0);
    padding: 14px 0;
}
.search {
    background-color: #fff;
    color: #383838;
    padding: 12px;
    width: 22em;
    border: none;
    box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.718);
    outline: none;
}
.submit-btn {
    /*position: absolute;*/
    padding: 11px 11px;
    background-color: #007562;
    border: none;
}
.submit-btn .submit-btn-text {
    font-size: 15px;
    font-weight: 600;
    color: #fdfdfd;
}
.search::placeholder {
    font-size: 12px;
    font-style: italic;
}
.intro-social-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 14px;
}
.intro-social-buttons .btn-title {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(56, 56, 56);
}
.btn {
    color: #000;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: transparent;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    transition: 0.2s;
    padding: 10px;
    border-radius: 50px;
}
.btn:hover {
    color: #fff;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #007562;
    transform: scale(1.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}
@media(max-width: 620px) {
    .intro-header {
        background: url(../img/gray-sofa.png) no-repeat center center fixed;
        background-size: cover;
    }
    .intro-message {
        padding: 4% 0;
        padding-bottom: 2%;
    }
    .intro-message h1 {
        font-size: 2em;
    }
    .intro-message h4 {
        font-size: 15px;
        padding: 14px 14px;
    }
    .search {
        padding: 12px;
        width: 16em;
    }
    .intro-social-buttons {
        margin-top: 18px;
        display: inline-block;
    }
    .intro-social-buttons .btn-title {
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
    }
    .intro-social-buttons li {
       margin-bottom: 20px;
    }
    ul.intro-social-buttons li:last-child {
       margin-bottom: 0;
    }
    .btn {
        padding: 6px;
        border-radius: 0;
    }
}
.content-section-a {
    padding: 60px 0;
    height: 800px;
}
.bg-overlay {
    margin-top: -30px;
    background: rgba(3, 3, 3, 0.322);
    height: 740px;
}
.network-container {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
.section-heading {
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0px 30%;
    color: #fff;
}
.location-text {
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.btnn {
    margin-top: 30px;
}
.default-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
}
.default-btn:hover {
    background-color: #fff;
    color: rgb(60, 60, 60);
}
.network-text {
    text-transform: capitalize;
}
@media(max-width:620px) {
    .content-section-a {
        height: 500px;
    }
    .bg-overlay {
        height: 480px;
    }
    .section-heading {
        font-size: 2rem;
        margin: 0px 10%;
    }
    .location-text {
        font-size: 14px;
    }
    .btnn {
        margin-top: 25px;
    }
    .network-text {
        font-size: 14px;
    }
}
.section-a {
    background: url(../img/office.png) no-repeat center center fixed;
    background-size: cover;
}
.section-b {
    background: url(../img/glass.png) no-repeat center center fixed;
    background-size: cover;
}
.section-c {
    background: url(../img/portable.png) no-repeat center center fixed;
    background-size: cover;
}
.section-d {
    background: url(../img/museum.jpg) no-repeat center center fixed;
    background-size: cover;
}
.section-e {
    background: url(../img/art.png) no-repeat center center fixed;
    background-size: cover;
}
.banner {
    background-color: #001e00;
    margin: 30px 30px;
    border-radius: 10px;
}
.col-lg-6 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 16em;
    padding: 50px;
}
.col-lg-6 li {
    padding: 10px 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-lg-6 li:hover {
    text-decoration: underline;
}
.col-lg-6 li a {
    color: #fff;
}
.Footer-column-title {
    padding-bottom: 25px;
    color: #fff;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-logo img {
    width: 10vw;
}
.copyright {
    text-align: center;
    padding-bottom: 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer-divider {
    margin: 0 200px 30px;
}
@media(max-width:620px) {
    .banner {
        margin: 20px 20px;
    }
    .col-lg-6 {
        display: inline-block;
    }
    .footer-logo img {
        display: none;
    }
    .col-lg-6 li {
        padding: 14px 0;
        font-size: 12px;
    }
    .Footer-column-title {
        padding-top: 25px;
        padding-bottom: 4px;
        font-size: 25px;
    }

    .footer-divider {
        margin: 0 60px 30px;
    }
}
